body{
  background-color:black;
  color:white;
  margin-top:0;
}
header{
  position:relative;
  margin-bottom:30px;
}

.faded-image{
  width:80vw;
  height:300px;
  background-image:url(/images/couch.png);
  margin:0 auto;
  background-repeat: none;
  background-position: center top -250px;
  background-size:cover;
  opacity:25%;
}

h1{
  position:absolute;
  top:15%;
  left:15%;
  font-weight:bold;
  font-size:3.6em;
}

h2{
  margin:0 0 24px 0 !important;
}

h3{
  position:absolute;
  top: 33%;
  right:15%;
  font-weight:normal;
  transition: all 0.3s;
}

h3:hover{
  font-weight: bold;
  transform: scale(1.5);
  color: rgb(181, 202, 216);
}

.search-bar {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid grey;
  border-radius: 5px;
  height: 32px; /* Adjust the height as needed */
  width:40vw;
  position:absolute;
  top:95%;
  left:0;
  right:0;
  margin:0 auto;
 
}
  
.search-icon {
  margin-right: 5px;
  margin-left: 10px;
}
  
.search-icon i {
  color: #666;
}
  
.search-field {

  min-width: 100px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 10px 5px; /* Adjusted padding */
  border-radius: 5px 0 0 5px;
  line-height: 20px; /* Adjusted line-height */
}
  
.search-button {
  background-color: #e2e3e7;
  color: #fff;
  border-left: 1px solid rgb(193, 192, 192);
  border-right:none;
  border-top:none;
  border-bottom:none;
  cursor: pointer;
  line-height: 30px; /* Adjusted line-height */
  border-radius: 0 5px 5px 0;
  width:100px;
  color:rgb(34, 33, 33);
  font-weight:bold;
} 

.watchlist-btn{
  height:20px;
}

.results{
  display:flex;
  flex-direction: row;
  margin: auto ;
  width:70vw;
  height:312px;
  border-bottom:1px solid grey;
}

.details{ 
  margin-left:20px;
  max-height:300px;
  align-self: center;
  flex-grow:1;
}

.movie-name-rating,.length-tags-watch{
  display:flex;
  flex-direction:row;
}

img{
  height:222px;
  width:150px;
  min-width:150px;
  align-self: center;
}

.fa-circle-plus{
  color:white;
}

.align-centre{
  align-self: center;
  white-space: nowrap;
}

.plot{
  overflow:hidden;
  display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 5; 
   -webkit-box-orient: vertical;
}

.movie-name-rating{
  justify-content: space-between;
}

.length-tags-watch{
  justify-content: space-between;
}

section{
  margin-bottom:100px;
}

.more{
  display:flex;
  justify-content: center;
  margin-top:50px;
  gap:50px;
}

.more button{
  color:white;
  background-color: black;
  border:none;
  font-size:20px;
  text-decoration: underline;
}

button{
  cursor:pointer;
}

.tooltip {
  position: absolute;
  background-color: rgba(108, 219, 24, 0.8);
  color: rgb(249, 11, 11);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 999;
  font-size: 14px;
  pointer-events: none; /* This ensures that the tooltip doesn't interfere with mouse events */
}

@media only screen and (max-width: 780px) {
  h1{
    font-size:2em;
    position:absolute;
    top:34%;
  }

  h3{
    font-size:16px;
    top:40%;
  }
  .search-button {
    line-height: 18px; /* Adjusted line-height */
    width:60px;
  } 

  .search-bar {
    height: 20px; /* Adjust the height as needed */
  }

  .faded-image{
  background-repeat: no-repeat;
  }

  .search-icon {
    margin-left: 20px;
  }

}


@media only screen and (max-width: 480px) {
  h1{
    font-size:1.5em;
    position:absolute;
    top:34%;
  }

  h3{
    font-size:10px;
    top:40%;
  }
  .search-button {
    line-height: 18px; /* Adjusted line-height */
    width:60px;
  } 

  .search-bar {
    height: 20px; /* Adjust the height as needed */
  }

  .faded-image{
  background-repeat: no-repeat;
  }

}

@media only screen and (max-width:400px){
  .search-icon {
    margin-left: 45px;
  }

}

